:root {
    --glow-hue: 222deg;
    --shadow-hue: 180deg;
    --spring-duration: 1.33s;
}

@property --shimmer {
    syntax: "<angle>";
    inherits: false;
    initial-value: 33deg;
}

@keyframes shimmer {
    0% {
        --shimmer: 0deg;
    }

    100% {
        --shimmer: 360deg;
    }
}

@keyframes shine {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes text {
    0% {
        background-position: 100% center;
    }

    100% {
        background-position: -100% center;
    }
}

.shimmer-btn {
    --inset: 40px;

    font-weight: 600;
    background-image: linear-gradient(315deg,
            #ffc4ec -10%,
            #efdbfd 50%,
            #ffedd6 110%);
    padding: 0.8em 1.4em;
    position: relative;
    isolation: isolate;
    border-radius: 0.66em;
    border: none;
    cursor: pointer;
    scale: 1;
    transition: all var(--spring-duration) linear;
}

.shimmer-btn:hover:not(:active),
.shimmer-btn.active {
    scale: 1.2;
}

.shimmer-btn:active {
    scale: 1.1;
}

.shimmer {
    position: absolute;
    inset: calc(var(--inset) * -1);
    border-radius: inherit;
    pointer-events: none;
    mask-image: conic-gradient(from var(--shimmer, 0deg),
            transparent 0%,
            transparent 20%,
            black 36%,
            black 45%,
            transparent 50%,
            transparent 70%,
            black 85%,
            black 95%,
            transparent 100%);
    mix-blend-mode: plus-lighter;
    animation: shimmer 1s linear infinite both;
}

.shimmer::before,
.shimmer::after {
    opacity: 0;
    content: "";
    border-radius: inherit;
    position: absolute;
    inset: var(--inset);
    pointer-events: none;
}

.shimmer::before {
    box-shadow:
        0 0 6px hsl(var(--glow-hue) 20% 95%),
        0 0 12px hsl(var(--glow-hue) 50% 70%);
}

.shimmer::after {
    box-shadow:
        inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%);
}

.shimmer-btn:hover .shimmer::before,
.shimmer-btn:hover .shimmer::after {
    opacity: 1;
    animation: shine 1.2s ease-in 1 forwards;
}

.shimmer-btn .text {
    color: #1a1a1a;
    background-clip: unset;
    background-image: none;
}

.shimmer-btn:hover .text {
    animation: text 0.66s ease-in both;
}